.app-header{
    height: 40px;
    display:flex;
    background-color: #1a76d2;
    padding: 15px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-content: space-between;
}
.app-header__main {
    display: flex;
    flex: 1 1 50%;
}
.app-header__actions {
    display: flex;
}
.header__generator {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    color: white;
}