.app-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    color: white;
}

.app-badge__img {
    height: 40px;
    width: 40px;
}

.app-badge__count {
    padding: 0 10px;
    line-height: 10px;
    font-size: 15pt;
}