.app-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.app-generator__btn {
    padding: 10px;
    background-color:transparent;
    border: none;
    color:white;
    font-size: 16px;
}
.app-generator__btn:hover {
    background-color: rgba(240, 248, 255, 0.318);
    border-radius: 10px;
}

.app-generator__input {
    width: 50px;
    border-radius: 10px;
    border: solid 1px white;
    padding: 5px;
    margin: 0 10px;
}